.main {
  margin-top: 5em;
}

.center {
  justify-content: center;
  padding: 10px;
}

.ui.search input {
  width: 100%;
  border-radius: 0 !important;
}

.item {
  padding: 15px 0px !important;
}

i.icon {
  float: right;
  font-size: 20px;
  cursor: pointer;
}


.welcome > h3{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.react-svg{
  max-width: 100px;
  max-height: 180px;
}